@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: #88ABFF;
}
.wrapper{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill,265px);
    gap: 15px;
}
.wrapper li{
    list-style: none;
    background: #fff;
    height: 250px;
    border-radius: 5px;
    padding: 15px 20px 20px;
}
/*Add box*/
.add-box,
.add-box .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.add-box .icon{
    height: 78px;
    width: 78px;
    color: #88ABFF;
    font-size: 40px;
    border: 2px dashed #88ABFF;
    border-radius: 50%;
}
.add-box p{
    color: #88ABFF;
    font-weight: 500;
    margin-top: 20px;
}

/*note*/
.wrapper .note{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.note .details{
    max-height: 165px;
    overflow-y: scroll;
}
.note .details p{
    font-size: 22px;
    font-weight: 500;
}
.note .details span{
    display: block;
    margin-top: 5px;
    color: #575757;
    font-size: 16px;
}
.note .bottom-content{
    padding-top: 10px;
    border-top: 1px solid #ccc;
}
.bottom-content span{
    color: #6d6d6d;
    font-size: 14px;
}
.bottom-content .settings i{
    color: #6d6d6d;
    font-size: 14px;
    cursor: pointer;
}
.bottom-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Edit and Delete menu*/
.settings{
    position: relative;
}
.settings .menu{
    position: absolute;
    bottom: 0;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    padding: 5px 0;
    background: #fff;
    right: -5px;
    transition: transform 0.2s ease;
    transform: scale(0);
    transform-origin: bottom right;
}
.settings.show .menu{
    transform: scale(1);
}
.settings .menu li{
    height: 25px;
    border-radius: 0;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    padding: 17px 15px;
}
.settings .menu li:hover{
    background: #f5f5f5;
}
.settings .menu li i{
    padding-right: 8px;
}

/*Popup Box*/
.popup-box{
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;
}
.popup-box .popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 400px;
    z-index: 3;
    justify-content: center;
    display: flex;
    align-items: center;
}
.popup-box,.popup-box .popup{
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
}
.popup-box.show,.popup-box.show .popup{
    opacity: 1;
    pointer-events: auto;
}
.popup-box .popup .content{
    width: calc(100% - 15px);
    background: #fff;
    border-radius: 5px;
}
.popup-box .popup .content header{
    border-bottom: 1px solid #ccc;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popup-box .popup .content header p{
    font-weight: 500;
    font-size: 20px;
}
.popup-box .popup .content header i{
    font-size: 23px;
    cursor: pointer;
    color: #8b8989;
}
.popup-box .popup .content form{
    margin: 15px 25px 35px;
}
.popup-box .popup .content form .row{
    margin-bottom: 20px;
}
.popup-box .popup .content form .row label{
    display: block;
    font-size: 18px;
    margin-bottom: 6px;
}
.popup-box .popup .content form :where(input,textarea){
    width: 100%;
    height: 50px;
    outline: none;
    font-size: 17px;
    padding: 0 15px;
    border-radius: 4px;
    border: 1px solid #999;
}
.popup-box .popup .content form textarea{
    height: 150px;
    resize: none;
    padding: 10px 15px;
}
.popup-box .popup .content form button{
    width: 100%;
    height: 50px;
    background: #88ABFF;
    outline: none;
    color: #fff;
    border: none;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
}